<header>
        <div class="container">
            <div id="branding">
                <h1><span class="highlight">Туристическое агенство</span> Океан впечатлений</h1>
            </div>
            <nav>
                <ul>
                    <li><a href="{{path("main")}}">Главная</a></li>
                    <li><a href="{{path("about")}}">О нас</a></li>
                    <li><a href="{{path("tour_catalog")}}">Туры</a></li>
                </ul>
            </nav>
        </div>
    </header>