{% extends 'base.html.twig' %}

{% block title %}Новый Route{% endblock %}

{% block stylesheets %}
{{include("tours/_style.css.twig")}}
{% endblock %}

{% block body %}
<div class="admin-menu-container">
    <h1>Создать новый маршрут</h1>

    {{ include('route/_form.html.twig') }}

    <a href="{{ path('app_route_index') }}">Назад к списку</a>
    </div>
{% endblock %}
