{% extends 'base.html.twig' %}

{% block title %}Edit RoutePhoto{% endblock %}

{% block stylesheets %}
{{include("tours/_style.css.twig")}}
{% endblock %}

{% block body %}
<div class="admin-menu-container">
    <h1>Edit RoutePhoto</h1>

    {{ include('route_photo/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_route_photo_index') }}">back to list</a>

    {{ include('route_photo/_delete_form.html.twig') }}
    </div>
{% endblock %}
