{% extends 'base.html.twig' %}

{% block title %}New RoutePhoto{% endblock %}

{% block stylesheets %}
{{include("tours/_style.css.twig")}}
{% endblock %}

{% block body %}
<div class="admin-menu-container">
    <h1>Create new RoutePhoto</h1>

    {{ include('route_photo/_form.html.twig') }}

    <a href="{{ path('app_route_photo_index') }}">back to list</a>
    </div>
{% endblock %}
