{% extends 'base.html.twig' %}

{% block title %}New City{% endblock %}

{% block stylesheets %}
{{include("tours/_style.css.twig")}}
{% endblock %}

{% block body %}
<div class="admin-menu-container">
    <h1>Создать новый город</h1>

    {{ include('city/_form.html.twig') }}

    <a href="{{ path('app_city_index') }}">Назад к списку</a>
    </div>
{% endblock %}
