{% extends 'base.html.twig' %}

{% block title %}Edit Triprequest{% endblock %}

{% block stylesheets %}
{{include("tours/_style.css.twig")}}
{% endblock %}

{% block body %}
<div class="admin-menu-container">
    <h1>Edit Triprequest</h1>

    {{ include('triprequest/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_triprequest_index') }}">back to list</a>

    {{ include('triprequest/_delete_form.html.twig') }}
    </div>
{% endblock %}
