{% extends 'base.html.twig' %}

{% block title %}Новый Triprequest{% endblock %}

{% block stylesheets %}
{{include("tours/_style.css.twig")}}
{% endblock %}

{% block body %}
<div class="admin-menu-container">
    <h1>Новый запрос</h1>

    {{ include('triprequest/_form.html.twig') }}

    <a href="{{ path('app_triprequest_index') }}">Назад к списку</a>
    </div>
{% endblock %}
