{% extends 'base.html.twig' %}

{% block title %}New Triprequest{% endblock %}

{% block body %}
    <h1>Create new Triprequest</h1>

    {{ include('triprequest/_form.html.twig') }}

    <a href="{{ path('app_triprequest_index') }}">back to list</a>
{% endblock %}
